<form action="/result" method="post">
  <label for="choice1">Player 1 choice:</label>
  <input name="choice1" id="player1choice" type="text">
  <label for="choice2">Player 2 choice:</label>
  <input name="choice2" id="player2choice" type="text">
  <button type="submit">Shoot!</button>
</form>

<div>
<h1 id="countdown">
</h1>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="/Content/JS/scripts.js"></script>
